/* color__blanco: #FAFAFF
   color__gris: #B4C3B5
   color__naranja: #E26D5A
   color__Negro: black
 */

/*tipografias*/

@font-face {
    font-family: poppins;
    src: url("../fonts/poppins.woff2") format("woff2");
}

@font-face {
    font-family: poppinsbold;
    src: url("../fonts/poppinsbold.woff2") format("woff2");
}

@font-face {
    font-family: robotomono;
    src: url("../fonts/robotomono.woff2") format("woff2");
}

/* Generales*/
body {
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#FAFAFF ;
}
h1, h2, h3, h4, h5, h6 {
    font-family: robotomono;
}
img {
    width: 100%;
}
.container {
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem;
}

/* Header */
.header {
    max-width: 24rem;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    padding-bottom: 0;
}
.avatar {
    border-radius: 50%;
    width: 50%;
}
.header__subtitle {
    font-size: .95rem;
    color: #a2a2a2;
}
.nav__list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.nav__link {
    display: block;
    padding: .5rem .5rem;
    font-weight: bold;
}
.nav__link:hover {
    border-bottom: 2px solid;
    border-bottom-color:#E26D5A;
    padding-bottom: 0;
}
/* Fin Header */

/*Inicio de Main*/
.container__blog {
    max-width: 40rem;
}
.article__title{
    font-size: 3rem;
    text-align: center;
    margin-bottom: .5rem;
    line-height: 4rem;
}
.article__date{
    text-align: center;
    font-size: .9rem;
    color: #a2a2a2;
    margin-top: 0;
    margin-bottom: 2rem;
}
.article__text{
    color: #a2a2a2;
    margin: 2rem auto;
}
.article__readmore {
    display: inline-block;
    background-color: #E26D5A;
    color: white;
    padding: .6rem 1.8rem;
    border-radius: .2rem;
    transition: 0.3s;
}
.article__readmore:hover {
    background-color:dimgrey;
}



/* Fin Main */

/*Footer*/
.footer {
    max-width: 22rem;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
}
.footer-nav__ul {
    list-style: none;
    padding: .4rem;
    display: flex;
    justify-content: space-between;
}
.footer-nav__icon {
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #a2a2a2;
    padding: .9rem;
    border-radius: 50%;
    transition: 0.3s;
}
.footer-nav__icon:hover {
    background-color: #E26D5A;
}